<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/main.css">

    <title>Profil użytkownika</title>
</head>

<body class="container-fluid">

    @*Profile photo*@
    <img src="#" class="userProfilePhoto offset-1" style="position:absolute; z-index: 10; top: 100px;" />

    <div class="card">
        @*background photo*@
        <img class="card-img-top" src="#" alt="Card image cap">

        <ul class="breadcrumb">
            <li class="breadcrumb-item offset-3"><a href="#">Informacje</a></li>
            <li class="breadcrumb-item"><a href="#">Znajomi</a></li>
            <li class="breadcrumb-item"><a href="#">Galeria</a></li>
            <li class="breadcrumb-item"><a href="#">Statystyki</a></li>
        </ul>
    </div>

    <div class="row">
        <aside class="col-3 navbar">
            <p>@*Aside panel - nav, latest photos, some stuff*@</p>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Grupa pierwsza <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Znajomi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wydarzenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

        </aside>

        <div class="col-9 wall">

            <p>@*<b>WALL: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nulla sed nisi pellentesque bibendum id a purus. Duis a scelerisque nunc. Donec interdum turpis quis arcu lacinia ornare. Aliquam iaculis risus vitae tellus ornare suscipit. Ut posuere felis in tristique dapibus. Nullam imperdiet magna in felis tristique, non consectetur erat tempor. Proin vulputate at justo et cursus. Sed rhoncus suscipit quam nec fermentum. Nulla non sagittis velit, at ullamcorper massa. In lacinia augue at libero sollicitudin, eleifend placerat nulla convallis. Praesent tincidunt interdum lacus vitae consequat. Donec nec volutpat mi. Curabitur imperdiet purus nibh, at aliquam risus laoreet quis. Phasellus sit amet ultrices dui. In semper ultrices purus, ut efficitur mauris tempor ac.*@</p>
            <div class="card">
                <div class="card-header">
                    <img class="userProfilePhoto userProfilePhotoSmall" />
                    <b>Tadeusz Norek</b>
                    <i>1 godz.</i>
                </div>
                <div class="card-block">
                    @*<h4 class="card-title">Special title treatment</h4>*@
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nulla sed nisi pellentesque bibendum id a purus. Duis a scelerisque nunc. Donec interdum turpis quis arcu lacinia ornare. Aliquam iaculis risus vitae tellus ornare suscipit. Ut posuere felis in tristique dapibus. Nullam imperdiet magna in felis tristique, non consectetur erat tempor. Proin vulputate at justo et cursus. Sed rhoncus suscipit quam nec fermentum. Nulla non sagittis velit, at ullamcorper massa. In lacinia augue at libero sollicitudin, eleifend placerat nulla convallis. Praesent tincidunt interdum lacus vitae consequat. Donec nec volutpat mi. Curabitur imperdiet purus nibh, at aliquam risus laoreet quis. Phasellus sit amet ultrices dui. In semper ultrices purus, ut efficitur mauris tempor ac.</p>
                    <a href="#" class="btn btn-success">Like it!</a>
                </div>
            </div>
        </div>

        <div class="col-9 wall offset-3">

            <p>@*<b>WALL: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nulla sed nisi pellentesque bibendum id a purus. Duis a scelerisque nunc. Donec interdum turpis quis arcu lacinia ornare. Aliquam iaculis risus vitae tellus ornare suscipit. Ut posuere felis in tristique dapibus. Nullam imperdiet magna in felis tristique, non consectetur erat tempor. Proin vulputate at justo et cursus. Sed rhoncus suscipit quam nec fermentum. Nulla non sagittis velit, at ullamcorper massa. In lacinia augue at libero sollicitudin, eleifend placerat nulla convallis. Praesent tincidunt interdum lacus vitae consequat. Donec nec volutpat mi. Curabitur imperdiet purus nibh, at aliquam risus laoreet quis. Phasellus sit amet ultrices dui. In semper ultrices purus, ut efficitur mauris tempor ac.*@</p>
            <div class="card">
                <div class="card-header">
                    <img class="userProfilePhoto userProfilePhotoSmall" />
                    <b>Karol Krawczyk</b>
                    <i>16:30</i>
                </div>
                <div class="card-block">
                    @*<h4 class="card-title">Special title treatment</h4>*@
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nulla sed nisi pellentesque bibendum id a purus. Duis a scelerisque nunc. Donec interdum turpis quis arcu lacinia ornare. Aliquam iaculis risus vitae tellus ornare suscipit. Ut posuere felis in tristique dapibus. Nullam imperdiet magna in felis tristique, non consectetur erat tempor. Proin vulputate at justo et cursus. Sed rhoncus suscipit quam nec fermentum. Nulla non sagittis velit, at ullamcorper massa. In lacinia augue at libero sollicitudin, eleifend placerat nulla convallis. Praesent tincidunt interdum lacus vitae consequat. Donec nec volutpat mi. Curabitur imperdiet purus nibh, at aliquam risus laoreet quis. Phasellus sit amet ultrices dui. In semper ultrices purus, ut efficitur mauris tempor ac.</p>
                    <a href="#" class="btn btn-success">Like it!</a>
                </div>
            </div>
        </div>

    </div>




    @*<footer>
            <p><b>FOOTER: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nulla sed nisi pellentesque bibendum id a purus. Duis a scelerisque nunc. Donec interdum turpis quis arcu lacinia ornare. Aliquam iaculis risus vitae tellus ornare suscipit. Ut posuere felis in tristique dapibus. Nullam imperdiet magna in felis tristique, non consectetur erat tempor. Proin vulputate at justo et cursus. Sed rhoncus suscipit quam nec fermentum. Nulla non sagittis velit, at ullamcorper massa. In lacinia augue at libero sollicitudin, eleifend placerat nulla convallis. Praesent tincidunt interdum lacus vitae consequat. Donec nec volutpat mi. Curabitur imperdiet purus nibh, at aliquam risus laoreet quis. Phasellus sit amet ultrices dui. In semper ultrices purus, ut efficitur mauris tempor ac.</p>
        </footer>*@

    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="~/Content/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>