<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <title>Profil użytkownika</title>
</head>

<body>
    <header>Header</header>
    <img src="#" />

    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        
        <div class="card-block">
            <p class="card-text">There should be some breadcrumbs. </p>
            
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Informacje</a></li>
                <li class="breadcrumb-item"><a href="#">Znajomi</a></li>
                <li class="breadcrumb-item"><a href="#">Galeria</a></li>
                <li class="breadcrumb-item"><a href="#">Statystyki</a></li>
            </ul>

        </div>
    </div>

    <aside><p>Aside panel - nav, latest photos, some stuff</p></aside>

    <div class="container">
        
        <p>main content - display info about user</p>

    </div>
    <footer><p>footer</p></footer>

    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="~/Content/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
