<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/loginPage.css">
-->
    <link rel="stylesheet" href="../../Content/node_modules/bootstrap/dist/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="../../Content/css/loginPage.css">-->

    <title>Profil użytkownika</title>
</head>

<body>
    <header>Header</header>
    <ul class="bredcrumb">
    	<li>Informacje</li>
    	<li>Znajomi</li>
    	<li>Galeria</li>
    	<li>Statystyki</li>
    </ul>   
    <aside>Aside panel</aside>
        <div class="container">
            main content
        </div>
    <footer>footer</footer>

<!--
    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="~/Content/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
-->
    
    <script src="../../Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../Content/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../../Content/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
