@model PRI_NaszSamochód.Models.PostModel
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/loginPage.css">
    <link rel="stylesheet" href="~/Content/css/wall.css">


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>

<body>
@using (Html.BeginForm("AddPost", "Wall", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   
    @Html.AntiForgeryToken()

        <div class="flex-c">
            @Html.TextAreaFor(m => m.Text, new { @class="newPostContent"})
            <button type="submit" class="btn-success" value="AddPost">Dodaj Post</button>
        </div>
}
</body>