<html>
    <head>
        <title>Strona domowa</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/css/main.css">
        <link rel="stylesheet" href="~/Content/css/index.css">
      
        @*JQuery*@
        <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        @*Dropzone*@
        <script src="~/Content/js/dropzone.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
        @*Angular*@
        <script src="~/Content/node_modules/angular/angular.js"></script>
        <script src="~/Content/node_modules/angular-route/angular-route.js"></script>
        <script src="~/Content/node_modules/angular-animate/angular-animate.js"></script>

        @*docs.angularjs.org/tutorial/step_09*@

        <script src="~/Content/js/module.js"></script>
        <script src="~/Content/js/AngularJSControllers/app.js"></script>
        <script src="~/Content/js/AngularJSControllers/WallSwitcherController.js"></script>
    </head>
    <body ng-app="myApp">
        <div class="main-flex">
            @*plnkr.co/edit/5ImqWj65YllaCYD5kX5E?p=preview*@
            <ul class="nav">
                <li class="search">
                        <input type="search"/>
                </li>
                <li><a href="#/@Model.User.Name @Model.User.Surname " id="userPageClicker">  @Model.User.Name @Model.User.Surname  </a></li>
                <li><a href="#"><div class="fao" id="user"></div></a></li>
                <li><a href="#"><div class="fao" id="envelope"></div></a></li>
                <li><a href="#"><div class="fao" id="bell"></div></a></li>
                <li><div class="dropdown">
                        <div class="fao" id="signout"></div>
                        <div class="dropdown-content">
                            <a href="#">Wyloguj</a>
                        </div>
                    </div>
                </li>
            </ul>
            
            <header ng-controller="WallSwitcherController">
                <ng-include src="getHeader()" onload="setters()"></ng-include>
            </header>
            <div class="child-flex">
                <aside id="nav">
                    <p>PANEL</p>
                    <ul>
                        <li>Aktualności</li>
                        <li>Wiadomości</li>
                    </ul>
                    <p>Grupy</p>
                    <ul class="groups">
                        <li>Grupa #1</li>
                        <li>Grupa #2</li>
                    </ul>
                </aside>
                <aside id="chat">
                    <p>PANEL</p>
                </aside>
                @*<div class="wall" ng-include="'UserPage/UserPageContent'">*@
                <div class="wall" ng-controller="WallSwitcherController">
                    <ng-include src="getContent()" ></ng-include>
                </div>
            </div>
            <footer><p>Footer</p></footer>
            </div>
        <script>
            @*github.com/thatisuday/ng-dropzone*@

            //app.controller("indexController", function ($scope)
            //{
            //    $scope.$on('$viewContentLoaded', function () {
            //        url = "https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js";
            //        $.getScript(url, function () {
            //            document.getElementById('userProfilePhoto').addEventListener("click", showDialog);
            //            function showDialog() {
            //                $("#dialog").dialog();
            //                document.getElementById("my-awesome-dropzone").style.display = "flex";
            //            };

            //        });
            //    })
            //});
            //angualarModule.config(function ($routeProvider) {
            //    $routeProvider.
            //    when('/UserPageHeader', {
            //        templateUrl: 'UserPage/UserPageHeader',
            //        controller: 'indexController'
            //    })
               
            //})
        </script>
</body>
</html>