@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
<html>
    <head>
        <title>Strona domowa</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/css/main.css">
        <link rel="stylesheet" href="~/Content/css/index.css">
        <script data-require="angular.js@1.5.10" data-semver="1.5.10" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular.min.js"></script>
        <script data-require="angular-router@1.2.0-rc1" data-semver="1.2.0-rc1" src="https://code.angularjs.org/1.2.0rc1/angular-route.js"></script>
        @*<script src="~/Content/js/AngularJSControllers/UserTabsController.js"></script>*@
    </head>
    <body ng-app="myApp">
        <div class="main-flex">
            @*plnkr.co/edit/5ImqWj65YllaCYD5kX5E?p=preview*@
            <ul class="nav">
                <li class="search">
                        <input type="search"/>
                </li>
                <li><a href="#UserPageHeader">  @Model.User.Name @Model.User.Surname  </a></li>
                <li><a href="#"><div class="fao" id="user"></div></a></li>
                <li><a href="#"><div class="fao" id="envelope"></div></a></li>
                <li><a href="#"><div class="fao" id="bell"></div></a></li>
                <li><div class="dropdown">
                        <div class="fao" id="signout"></div>
                        <div class="dropdown-content">
                            <a href="#">Wyloguj</a>
                        </div>
                    </div>
                </li>
            </ul>
            
            <header>
                <p>Header</p>
                <div ng-view></div>
            </header>
            <div class="child-flex">
                <aside id="nav">
                    <p>PANEL</p>
                    <ul>
                        <li>Aktualności</li>
                        <li>Wiadomości</li>
                    </ul>
                    <p>Grupy</p>
                    <ul class="groups">
                        <li>Grupa #1</li>
                        <li>Grupa #2</li>
                    </ul>
                </aside>
                <aside id="chat">
                    <p>PANEL</p>
                </aside>
                <div class="wall">
                    <p>WALL</p>
                </div>
            </div>
            <footer><p>Footer</p></footer>
            </div>
        <script>
            var angualarModule = angular.module("myApp", ['ngRoute']);
            angualarModule.controller("indexController", function ($scope) {
                $scope.name = "Anubhav";
            })
            angualarModule.config(function ($routeProvider) {
                $routeProvider.
                when('/UserPageHeader', {
                    templateUrl: 'UserPage/UserPageHeader',
                    //controller: 'routeDemoFirstController'
                })
               
            })
        </script>
</body>
</html>