body {
    background: url("loginBackgroundblured.jpeg") no-repeat center center fixed #000;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}
.btn-success
{
    background-color: #ff4b00;
    border: none;
/*    border-radius: 0;*/
}
.btn-success:hover
{
    background-color: rgb(252, 131, 81);
}
.form-control
{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}
#parent {
   display: table;
   width: 100%;
}
#form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.loginPage{
    padding: 15% 0 15% 0;
}
