@model PRI_NaszSamochód.Models.PostModel
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/loginPage.css">

</head>

<body> @* JAK PRZEKAZYWAĆ ID GRUPY, Z CONTENTU KTÓREJ PRZEKIEROWUJEMY DO DODAWANIA POSTU ?! *@
    @using (Html.BeginForm("AddPost", "Groups", @*tutaj wstawić id grupy*@,FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div>
            @Html.AntiForgeryToken()
            <ul class="flex-outer">
                <li>
                    <label for="inputName"> Tekst </label>
                    @Html.TextBoxFor(m => m.Text)
                </li>
            </ul>
            <button type="submit" class="btn-success" value="AddPost">Dodaj Post</button>
        </div>
    }
</body>
