@model PRI_NaszSamochód.Models.PostModel
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/loginPage.css">
    <link rel="stylesheet" href="~/Content/css/wall.css">

</head>

<body>
    @using (Html.BeginForm("AddPost", "Groups", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="flex-c">
            @Html.TextAreaFor(m => m.Text, new { @class = "newPostContent" })
            <button type="submit" class="btn-success" value="AddPost" onclick="(function (){window.close();})">Dodaj Post</button>
        </div>
    }
</body>
