@using PRI_NaszSamochód.Models
@model GroupViewModel


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/jscroll/jquery.jscroll.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/userPage.css" />
    @Scripts.Render("~/Content/js/infiniteScroll.js")
    @Scripts.Render("~/Content/node_modules/jscroll/jquery.jscroll.min.js")


    <title>Profil użytkownika</title>
</head>

<body>
    <div class="container-flex" id="scrollIt">
        <div class="wall-flex">
            @foreach (var post in Model.LatestPosts)
            {
            <div class="post">
                <div class="postHeader">
                    <ul>
                        <li><div class="userProfilePhoto userProfilePhotoSmall"></div></li>
                        <li><p>@post.Creator.Name<p></li>
                        <li><p>1 godz.</p></li>
                    </ul>
                </div>
                <div class="postContent">
                    <p class="postText">@post.Text</p>
                </div>
                <button class="btn-success btn-like">Poleć!</button>
            </div>
            }

        </div>

    </div>
</body>

</html>