/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
ul.addNewGroup {
  list-style: none;
  display: flex;
  flex-direction: column; }
  ul.addNewGroup li input {
    border: 1px solid #cccccc;
    padding: 0.625rem;
    margin: 0.625rem; }

.flex-add-button {
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.625rem;
  order: 2; }
  .flex-add-button #AddPost {
    order: 2;
    align-self: flex-end; }
    .flex-add-button #AddPost::before {
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
      content: '\f0fe';
      margin-right: 0.3125rem; }
  .flex-add-button #groupDetails {
    order: 1;
    align-self: flex-start; }

ul.info {
  list-style-type: none;
  padding-left: 0; }
  ul.info li {
    padding: 0.625rem;
    border: 1px solid white;
    position: relative; }
    ul.info li:hover {
      background-color: #cccccc;
      cursor: pointer;
      /*&::after {
                font-family: 'FontAwesome';
                content: '\f040';
                color: $color5;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-size: 18px;
                position: sticky;
                z-index: 100;
                margin-left: 0.625rem;
            }*/ }

.main-fl {
  display: flex;
  flex-direction: row;
  align-content: flex-start; }
  .main-fl .add {
    order: 1;
    min-width: 18.75rem;
    padding: 1.25rem; }
  .main-fl .details {
    order: 2; }
