@charset "UTF-8";
/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
.main-flex {
  /*ogarn�� flex-shrink i -grow*/
  display: flex;
  flex-direction: column;
  align-content: stretch; }
  .main-flex header {
    background-color: #cccccc;
    height: 12.5rem;
    width: auto; }
  .main-flex ul.nav {
    justify-content: flex-end;
    background-color: #ff4b00;
    height: auto;
    width: auto;
    margin-bottom: 0; }
  .main-flex .child-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: auto; }
    .main-flex .child-flex aside {
      height: auto;
      width: 18.75rem;
      /*flex-shrink: 3;*/
      /*ul.groups li {
                list-style-position: outside;
            }*/ }
      .main-flex .child-flex aside#nav {
        order: 1;
        background-color: #999; }
      .main-flex .child-flex aside#chat {
        order: 3;
        background-color: #999;
        display: none; }
      .main-flex .child-flex aside ul > li {
        list-style: none; }
      .main-flex .child-flex aside p {
        margin-left: 1.875rem; }
    .main-flex .child-flex .wall {
      flex: 1;
      order: 2;
      height: 18.75rem;
      width: 37.5rem;
      background-color: #e9e9e9;
      /*flex-shrink: 1;*/ }
  .main-flex footer {
    background-color: #ff4b00;
    height: 9.375 rem; }

/*.userProfilePhoto {

    @include userProfilePhoto(100px,1.5);
    background-image: url("../src/no-pic-avatar.jpg");
    background-size: cover;
    border-color: white;
    border-width: 1px;
    border: ridge;


    &.userProfilePhotoSmall {

        @include userProfilePhoto(100px,0.4);
    }
 }*/
