/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
.loginPageBody {
  background: url("../src/loginBackgroundblured.jpeg") no-repeat center center fixed #000;
  background-size: cover !important; }

.btn-success {
  background-color: #ff6d31;
  border: none;
  border-radius: 0px;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: none;
  letter-spacing: .09em;
  border-radius: 2px;
  color: white;
  margin: 0.625rem; }
  .btn-success:hover {
    background-color: #fc8351; }

.loginPage-container {
  padding: 15% 0 15% 0;
  font-family: inherit;
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
  box-sizing: border-box; }

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 50%;
  margin: 0 auto; }
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .flex-outer li label, .flex-outer li p {
      /*background-color: $fadedGray;*/
      color: white;
      border: none;
      padding: 0.5rem;
      /*font-weight: 300;*/
      /*letter-spacing: .09em;*/
      /*text-transform: uppercase;*/
      flex: 1 0 7.5rem;
      max-width: 13.75rem; }
    .flex-outer li .text-danger {
      color: #ffe9df; }
    .flex-outer li p {
      margin: 0; }
    .flex-outer li input {
      background-color: rgba(0, 0, 0, 0.37);
      color: white;
      border: none;
      padding: 0.5rem; }

> li:not(:last-child) {
  margin-bottom: 1.25rem; }

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 7.5rem;
  max-width: 220px; }

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 13.75rem; }
