/*$baseFS: 16px;
@mixin calcRem($sizeToConvert) {
    font-size: ($sizeToConvert / $baseFS) + rem;
}*/
/*@import 'reset';*/
@import url("https://fonts.googleapis.com/css?family=Lato");
/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
html {
  font-family: 'Lato', sans-serif;
  color: #0a0a0a; }

/*@import 'loginPage';
@import 'userPage';
@import 'index.scss';*/
ul.nav {
  display: inline-flex;
  list-style: none;
  height: auto;
  width: auto;
  background-color: #ff4b00;
  margin-top: 0; }
  ul.nav > li {
    padding: 1.25rem; }
    ul.nav > li > a {
      color: white;
      text-decoration: none; }
    ul.nav > li:hover {
      background-color: #fc8351; }

div.fao {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal; }
  div.fao#bell::before {
    content: "\f0c0"; }
  div.fao#envelope::before {
    content: "\f0e0"; }
  div.fao#user::before {
    content: "\f0f3"; }
  div.fao#signout::before {
    content: "\f08b";
    color: white;
    cursor: pointer; }
