/*$baseFS: 16px;
@mixin calcRem($sizeToConvert) {
    font-size: ($sizeToConvert / $baseFS) + rem;
}*/
/*@import 'reset';*/
@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  font-family: 'Lato', sans-serif; }

/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
.loginPageBody {
  background: url("../src/loginBackgroundblured.jpeg") no-repeat center center fixed #000;
  background-size: cover !important; }

.btn-success {
  background-color: #ff4b00;
  border: none;
  border-radius: 0px;
  font-family: inherit; }
  .btn-success:hover {
    background-color: #fc8351; }

.loginPage-container {
  padding: 15% 0 15% 0;
  font-family: inherit;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 50%;
  margin: 0 auto; }
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .flex-outer li label, .flex-outer li p {
      /*background-color: $fadedGray;*/
      color: white;
      border: none;
      padding: 8px;
      /*font-weight: 300;*/
      /*letter-spacing: .09em;*/
      /*text-transform: uppercase;*/
      flex: 1 0 120px;
      max-width: 220px; }
    .flex-outer li .text-danger {
      color: #ffe9df; }
    .flex-outer li p {
      margin: 0; }
    .flex-outer li input {
      background-color: rgba(0, 0, 0, 0.37);
      color: white;
      border: none;
      padding: 8px; }
    .flex-outer li button.btn-success {
      margin-left: 50%;
      padding: 8px 16px;
      border: none;
      letter-spacing: .09em;
      border-radius: 2px;
      color: white;
      /*max-width: 50%;*/ }

> li:not(:last-child) {
  margin-bottom: 20px; }

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px; }

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px; }

/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
body {
  background-color: #f5f5f5; }

aside {
  /*background-color: red;*/ }

.wall {
  background-color: #f5f5f5; }

img.userProfilePhoto {
  height: 150px;
  width: 150px;
  background-color: #999; }
  img.userProfilePhoto.userProfilePhotoSmall {
    height: 40px;
    width: 40px;
    background-color: #999; }

.card-img-top {
  height: 200px;
  background-color: #333; }

ul.breadcrumb {
  background-color: #ff4b00 !important; }
  ul.breadcrumb li > a {
    color: white !important; }

.card {
  /*border: none;*/
  border-radius: 0px; }
