/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
body {
  background-color: #e9e9e9; }

.container-flex {
  display: flex;
  flex-direction: column;
  align-content: stretch; }
  .container-flex img.userProfilePhoto {
    height: 150px;
    width: 150px;
    background-color: #999;
    background: url("../src/no-pic-avatar.jpg");
    background-size: cover;
    border-color: white;
    border-width: 1px;
    border: ridge; }
    .container-flex img.userProfilePhoto.userProfilePhotoSmall {
      height: 40px;
      width: 40px;
      background-color: #999; }
  .container-flex .userPageHeader, .container-flex img.userBackgroundImg {
    display: flex;
    height: 200px;
    width: auto;
    align-items: flex-end;
    background-color: #333; }
    .container-flex .userPageHeader img.userProfilePhoto, .container-flex img.userBackgroundImg img.userProfilePhoto {
      margin-left: 50px; }
  .container-flex ul.nav {
    display: inline-flex;
    list-style: none;
    height: auto;
    width: auto;
    background-color: #ff4b00;
    margin-top: 0; }
    .container-flex ul.nav > li {
      padding: 20px; }
      .container-flex ul.nav > li > a {
        color: white;
        text-decoration: none; }
      .container-flex ul.nav > li:hover {
        background-color: #fc8351; }
  .container-flex .wall-flex .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 10px; }
    .container-flex .wall-flex .post .postHeader {
      background-color: #ff4b00; }
      .container-flex .wall-flex .post .postHeader ul {
        list-style: none;
        flex-direction: column; }
        .container-flex .wall-flex .post .postHeader ul li, .container-flex .wall-flex .post .postHeader ul p {
          display: inline;
          color: white;
          align-items: flex-end; }
    .container-flex .wall-flex .post .postContent {
      padding: 10px;
      /*background-color: white;*/ }
    .container-flex .wall-flex .post button {
      align-self: flex-start; }
