/*main palette*/
/*orange*/
/*light gray*/
/*dark gray*/
/*for textboxex in login layout*/
body {
  background-color: #e9e9e9; }

.dialog {
  z-index: 10;
  width: 12.5rem;
  height: 6.25rem;
  background-color: red; }

.container-flex {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  /*ul.nav {
        display: inline-flex;
        list-style: none;
        height: auto;
        width: auto;
        background-color: $color1;
        margin-top: 0;

        & > li {
            padding: 20px;

            & > a {
                color: white;
                text-decoration: none;
            }


            &:hover {
                background-color: $color1Hover;
            }
        }
    }*/ }
  .container-flex .userProfilePhoto {
    height: 150px;
    width: 150px;
    background-color: #999;
    background-image: url("../src/no-pic-avatar.jpg");
    background-size: cover;
    border-color: white;
    border-width: 1px;
    border: ridge; }
    .container-flex .userProfilePhoto.userProfilePhotoSmall {
      height: 40px;
      width: 40px;
      background-color: #999; }
  .container-flex .userPageHeader {
    display: flex;
    height: 12.5rem;
    width: auto;
    align-items: flex-end;
    background-color: #333; }
    .container-flex .userPageHeader .userProfilePhoto {
      margin-left: 3.125rem;
      position: relative; }
      .container-flex .userPageHeader .userProfilePhoto:hover::after {
        content: "\f07c";
        font-family: 'FontAwesome';
        color: #ff4b00;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        font-size: 1.125rem;
        /*padding-right: 0.5em;*/
        position: absolute;
        top: 0.625rem;
        left: 0.625rem;
        z-index: 100; }
  .container-flex .wall-flex .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0.625rem; }
    .container-flex .wall-flex .post .postHeader {
      background-color: #ff4b00; }
      .container-flex .wall-flex .post .postHeader ul {
        list-style: none;
        flex-direction: column; }
        .container-flex .wall-flex .post .postHeader ul li, .container-flex .wall-flex .post .postHeader ul p {
          display: inline;
          color: white;
          align-items: flex-end; }
    .container-flex .wall-flex .post .postContent {
      padding: 0.625rem;
      /*background-color: white;*/ }
    .container-flex .wall-flex .post button {
      align-self: flex-start; }

ul.info {
  list-style-type: none;
  padding-left: 0;
  /*display: flex;
    flex-flow: column;
    align-items: stretch;*/ }
  ul.info li {
    padding: 0.625rem;
    border: 1px solid white;
    position: relative; }
    ul.info li:hover {
      background-color: #cccccc;
      cursor: pointer; }
      ul.info li:hover::after {
        font-family: 'FontAwesome';
        content: '\f040';
        color: #333;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        font-size: 18px;
        /*padding-right: 0.5em;*/
        position: sticky;
        /*top: 10px;
                left: 10px;*/
        z-index: 100;
        margin-left: 0.625rem; }
