@using PRI_NaszSamochód.Models;
@using PRI_NaszSamochód.Utilities;
@model List<DataPoint>
@*@model UserStatistics*@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/userPage.css" />
    <title>Statystyki</title>
</head>
<body>
    <div class="outer-flex">
        <div class="cont-fl" id="inputStats">
            <div class="stats-input">
                @*@Model.FuelUsed;
                    @Model.KilometersDriven;
                    @Model.MaxVelocity;
                    @Model.RecordTime;*@
            </div>
        </div>
    </div>
</body>
</html>