<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <title>Statystyki</title>

    </head>
    <body>
        <h1>Statystyki</h1>
        <script></script>
    </body>
</html>