<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <link rel="stylesheet" href="~/Content/css/userPage.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Informacje</title>
      
    </head>
    <body>
        <div class="flex-container">
            <ul class="info">
                <li>@Model.User.Name</li>
                <li>@Model.User.Surname</li>
                <li>@Model.User.PhoneNumber</li>
                <li>@Model.User.Email</li>

            </ul>
        </div>
        <script></script>
    </body>
</html>