<!DOCTYPE html>
@using PRI_NaszSamochód.Models;
@model UserGalleryModel
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <title>Galeria</title>

    </head>
    <body>
        <h1>Galeria</h1>

        @foreach(PhotoModel i in Model.PhotosList)
        {
            <div>
                
            </div>
        }
        <script></script>
    </body>
</html>