<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/css/main.css" />
        <title>Znajomi</title>
    </head>
    <body>
        <h1>Znajomi</h1>
        <script></script>
    </body>
</html>