@using PRI_NaszSamochód.Models;
@using PRI_NaszSamochód.Utilities;
@model List<DataPoint>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <title>Statystyki</title>
    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/chart.js/dist/Chart.min.js"></script>
</head>
<body>
    <div>
        <img src="@Url.Action("FuelChart", "UserStats")" alt="Chart" />
    </div>
    <div>
        <img src="@Url.Action("KilometersDrivenChart", "UserStats")" alt="Chart" />
    </div>
    <div>
        <img src="@Url.Action("MaxVelocityChart", "UserStats")" alt="Chart" />
    </div>
</body>
</html>