@using PRI_NaszSamochód.Models
@model ProfileViewModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    @*JQuery*@
    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*Css*@
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/userPage.css" />

        @*Awesome Fonts*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*Angular*@
    <script data-require="angular.js@1.5.10" data-semver="1.5.10" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular.min.js"></script>
    <script data-require="angular-router@1.2.0-rc1" data-semver="1.2.0-rc1" src="https://code.angularjs.org/1.2.0rc1/angular-route.js"></script>

    @*<script src="~/Content/js/AngularJSControllers/UserTabsController.js"></script>*@

    @*Dropzone*@
    <script src="~/Content/js/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <script src="~/Content/js/dialogScript.js"></script>

    <title>Profil użytkownika</title>
</head>

<body ng-app="myApp">

    <div class="container-flex">
        @*<span my-draggable>Drag Me</span>*@
        <div class="userPageHeader">
            <div class="userProfilePhoto" id="userProfilePhoto" style="background-image:url(@Model.ProfilePhotoUrl)"></div>
        </div>
        <div id="dialog">
            <form action="/ProfPhoto/Upload"
                  class="dropzone"
                  id="my-awesome-dropzone" style="display: none"></form>
        </div>

        <ul class="nav">
            <li><a href="#User/Info" id="userPageInfoClicker">Informacje</a></li>
            <li><a href="#User/Friends" id="userPageFriendsClicker">Znajomi</a></li>
            <li><a href="#User/Gallery" id="userPageGalleryClicker">Galeria</a></li>
            <li><a href="#User/Statistics" id="userPageStatisticsClicker">Statystyki</a></li>
        </ul>
    </div>
    @*<script src="~/Content/js/dialogScript.js"></script>*@
</body>

</html>