@import 'palette.scss';

ul.addNewGroup {
    list-style: none;
    display: flex;
    flex-direction: column;

    li input{
        border: 1px solid $color2;
        padding: $tenPx;
        margin: $tenPx;
    }
}

.flex-add-button {
    width: 99%;
    /*height:100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $tenPx;
    order: 2;

    #AddPost{
        order: 2;
        align-self: flex-end;
        &::before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
        content: '\f0fe';
        margin-right: $tenPx*0.5;
        }   
    }
    #groupDetails{
        order: 1;
        align-self: flex-start;
    }
}
ul.info {
    list-style-type: none;
    padding-left: 0;

    li {
        padding: $tenPx;
        position: relative;
        padding-right: $tenPx*20;

        &:hover {
            background-color: $fadedHover;
            cursor: pointer;

            /*&::after {
                font-family: 'FontAwesome';
                content: '\f040';
                color: $color5;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-size: 18px;
                position: sticky;
                z-index: 100;
                margin-left: 0.625rem;
            }*/
        }
    }
}
.main-fl {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    .add {
        order: 1;
        min-width: $tenPx*30;
        padding: $tenPx*2;
        border-right: 2px solid $color1;

        #search {
            padding: 0 $tenPx 0 $tenPx;
            width: $tenPx*30;
            height: $tenPx*4;
            margin: $tenPx 0 $tenPx 0;
            border: none;
            border-bottom: 3px solid $postBorderColor;
        }
    }

    .details {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .label {
            font-weight: 700;
        }
    }

    #users {
        width: auto;
        height: $tenPx*20;
        border: 1px solid $postBorderColor;
    }

    .flex-add {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            margin: $tenPx*2;
        }
    }
}
