@import 'palette.scss';

ul.addNewGroup {
    list-style: none;
    display: flex;
    flex-direction: column;

    li input{
        border: 1px solid $color2;
        padding: $tenPx;
        margin: $tenPx;
    }
}

.flex-add-button {
    width: 99%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $tenPx;
    order: 2;

    #AddPost{
        order: 2;
        align-self: flex-end;
        &::before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
        content: '\f0fe';
        margin-right: $tenPx*0.5;
        }   
    }
    #groupDetails{
        order: 1;
        align-self: flex-start;
    }
}