@import 'palette.scss';

.main-flex {
    /*ogarn¹æ flex-shrink i -grow*/
    display: flex;
    flex-direction: column;
    align-content: stretch;

    header {
        background-color: $color2;
        background-image: url('../src/preview1.png');
        background-repeat: repeat-x;
        background-size: 40rem;
        background-position-y: center;
        height: 16rem;
        width: auto;

        p::after {
            color: white;
            font-size: 10*$tenPx;
            font-family: 'Dancing Script', cursive;
            font-style: normal;
            content: "Nasz Samoch\00f3" + "d.";
            position: absolute;
            top: $tenPx*13;
            left: $tenPx*60;
            right: $tenPx*0;
        }
    }

    ul.nav {
        justify-content: flex-end;
        background-color: $color1;
        height: auto;
        width: auto;
        margin-bottom: 0;

        li.search {
            input[type=search] {
                border: 2px solid #ffcaa5;
                border-radius: 10px;
                color: $color5;
            }
        }
    }

    .child-flex {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: auto;

        aside {
            height: auto;
            width: 18.75rem;
            flex-shrink: 3;

            &#nav {
                order: 1;
                background-color: $wallBackground;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                ul {
                    list-style: none;

                    li {
                        padding: 20px;
                        border-left: 2px solid $color1;

                        &:hover {
                            background-color: rgba(128, 128, 128, 0.18);
                            color: white;
                        }

                        select {
                            width: 100%;
                            font-size: inherit;
                            background-color: rgba(0, 0, 0, 0.00);
                            border: none;

                            &:hover {
                                color: $fontColor;
                            }
                        }

                        option {
                            color: $fontColor;
                            background-color: $color2;
                            padding: 20px;
                            border: none;
                        }

                        & > a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }

            &#chat {
                order: 3;
                background-color: $color3;
                display: none;
            }
        }

        .wall {
            flex: 1;
            order: 2;
            min-height: 18.75rem;
            min-width: 18.75*2rem;
            max-height: none;
            background-color: $wallBackground;
            /*flex-shrink: 1;*/
        }
    }

    footer {
        background-color: $color5;
        height: 18.75 * 1/2 rem;
    }
}

    li .dropdown {
        position: relative;
        display: inline-block;

        &:active .dropdown-content {
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            margin: 0;
            top: 40px;
            right: 5px;
            background-color: rgba(0, 0, 0, 0.25);
            /*min-height: 50px;*/
            box-shadow: 0px;
            padding: 20px;
            z-index: 1;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
#userPageNav {
    background-color: white;
    border-spacing: 0px;
    border-collapse: collapse;

    li {
        border-width: 0.5px;
        border-color: $postBorderColor;
        border-style: solid;

        & > a {
            color: $fontColor;
        }

        &:hover {
            background-color: rgba(128, 128, 128, 0.18);
            color: inherit;
        }
    }
}
