@import 'palette.scss';

.main-flex {
    /*ogarn¹æ flex-shrink i -grow*/
    display: flex;
    flex-direction: column;
    align-content: stretch;

    header {
        background-color: $color2;
        height: 12.5rem;
        width: auto;
    }

    ul.nav {
        justify-content: flex-end;
        background-color: $color1;
        height: auto;
        width: auto;
        margin-bottom: 0;

        li.search {
            input[type=search] {
                border: 2px solid #ffcaa5;
                border-radius: 10px;
                color: $color5;
            }
        }
    }

    .child-flex {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: auto;

        aside {
            height: auto;
            width: 18.75rem;
            /*flex-shrink: 3;*/
            &#nav {
                order: 1;
                background-color: $color3;
            }

            &#chat {
                order: 3;
                background-color: $color3;
                display: none;
            }

            ul > li {
                list-style: none;
            }

            p {
                margin-left: 1.875rem;
            }
            /*ul.groups li {
                list-style-position: outside;
            }*/
        }

        .wall {
            flex: 1;
            order: 2;
            height: 18.75rem;
            width: 18.75*2rem;
            background-color: $wallBackground;
            /*flex-shrink: 1;*/
        }
    }

    footer {
        background-color: $color1;
        height: 18.75 * 1/2 rem;
    }
}

li .dropdown {
    position: relative;
    display: inline-block;

    &:active .dropdown-content {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        margin: 0;
        top: 40px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.25);
        /*min-height: 50px;*/
        box-shadow: 0px;
        padding: 20px;
        z-index: 1;

        a {
            color: white;
            text-decoration: none;
        }
    }
}
