@import 'palette.scss';

.loginPageBody {
    background: url("../src/loginBackgroundblured.jpeg") no-repeat center center fixed #000;
    background-size: cover !important;
}

.btn-success {
    background-color: $color1;
    border: none;
    border-radius: 0px;
    font-family: inherit;
    padding: 0.5rem 1rem;
    border: none;
    letter-spacing: .09em;
    border-radius: 2px;
    color: white;
    margin: 0.625rem;

    &:hover {
        background-color: $color1Hover;
    }
}

.loginPage-container {
    padding: 15% 0 15% 0;
    font-family: inherit;
    width: 80%;
    max-width: 0.625*120rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 50%;
    margin: 0 auto;

    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        label, p {
            /*background-color: $fadedGray;*/
            color: white;
            border: none;
            padding: 0.5rem;
            /*font-weight: 300;*/
            /*letter-spacing: .09em;*/
            /*text-transform: uppercase;*/
            flex: 1 0 0.625*12rem;
            max-width: 0.625*22rem;
        }

        .text-danger {
            color: $text-danger;
        }

        p {
            margin: 0;
        }

        input {
            background-color: $fadedGray;
            color: white;
            border: none;
            padding: 0.5rem;
        }
    }
}

> li:not(:last-child) {
    margin-bottom: 0.625*2rem;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 0.625*12rem;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 0.625*22rem;
}
