/*$baseFS: 16px;
@mixin calcRem($sizeToConvert) {
    font-size: ($sizeToConvert / $baseFS) + rem;
}*/
/*@import 'reset';*/
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'palette.scss';
html {
    font-family: 'Lato', sans-serif;
    color: $fontColor;
}

/*@import 'loginPage';
@import 'userPage';
@import 'index.scss';*/


ul.nav {
    display: inline-flex;
    list-style: none;
    height: auto;
    width: auto;
    background-color: $color1;
    margin-top: 0;

    & > li {
        padding: $tenPx*2;

        & > a {
            color: white;
            text-decoration: none;
        }

        &.search {
            padding: 0;
            padding-top: $tenPx;

            input[type=search] {
                border: 2px solid #ffcaa5;
                border-radius: $tenPx;
                color: $color5;
                width: $tenPx*25;
                height: $tenPx*3.5;
            }
        }


        &:hover {
            background-color: $color1Hover;
        }
    }
}
div.fao {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;

    &#user::before {
        content: "\f0c0";
    }

    &#envelope::before {
        content: "\f0e0";
    }

    &#bell::before {
        content: "\f0f3";
    }

    &#signout::before {
        content: "\f08b";
        color: white;
        cursor: pointer;
    }
}