/*main palette*/
/*orange*/
$color1: #ff4b00;
/*light gray*/
$color2: #cccccc;
$color3: #999;
$color4: #666;
/*dark gray*/
$color5: #333;

$color1Hover: rgb(252, 131, 81);
/*for textboxex in login layout*/
$fadedGray: rgba(0, 0, 0, 0.37);

$wallBackground: #f5f5f5;
$baseFS: 16px;
$text-danger: rgb(255, 233, 223);

@mixin calcRem($sizeToConvert) {
    font-size: ($sizeToConvert / $baseFS) + rem;
}
