@import 'palette.scss';
body {
    background-color: $wallBackground;
}
.dialog {
    z-index: 10;
    width: 200px;
    height: 100px;
    background-color: red;
}
.container-flex {
    display: flex;
    flex-direction: column;
    align-content: stretch;

   
    .userProfilePhoto {

        @include userProfilePhoto(100px,1.5);
        background-image: url("../src/no-pic-avatar.jpg");
        background-size: cover;
        border-color: white;
        border-width: 1px;
        border: ridge;


        &.userProfilePhotoSmall {

            @include userProfilePhoto(100px,0.4);
        }
    }

    .userPageHeader {
        display: flex;
        height: 200px;
        width: auto;
        align-items: flex-end;
        background-color: $color5;

        .userProfilePhoto {
            margin-left: 50px;
            position: relative;

            &:hover::after {
                content: "\f07c";
                font-family: 'FontAwesome';
                color: $color1;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                /*--adjust as necessary--*/
                font-size: 18px;
                /*padding-right: 0.5em;*/
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 100;
            }
        }
    }

    /*ul.nav {
        display: inline-flex;
        list-style: none;
        height: auto;
        width: auto;
        background-color: $color1;
        margin-top: 0;

        & > li {
            padding: 20px;

            & > a {
                color: white;
                text-decoration: none;
            }


            &:hover {
                background-color: $color1Hover;
            }
        }
    }*/

    .wall-flex {
        .post {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            margin: 10px;

            .postHeader {
                background-color: $color1;

                ul {
                    list-style: none;
                    flex-direction: column;

                    & li, p {
                        display: inline;
                        color: white;
                        align-items: flex-end;
                    }
                }
            }

            .postContent {
                padding: 10px;
                /*background-color: white;*/
            }

            button {
                align-self: flex-start;
            }
        }
    }
}
ul.info {
    list-style-type: none;
    padding-left: 0;
    /*display: flex;
    flex-flow: column;
    align-items: stretch;*/
    li {
        padding: 10px;
        border: 1px solid white;
        position: relative;

        &:hover {
            background-color: $color2;
            cursor: pointer;

            &::after {
                font-family: 'FontAwesome';
                content: '\f040';
                color: $color5;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                /*--adjust as necessary--*/
                font-size: 18px;
                /*padding-right: 0.5em;*/
                position: sticky;
                /*top: 10px;
                left: 10px;*/
                z-index: 100;
                margin-left: 10px;
            }
        }
    }
}