@import 'palette.scss';

@mixin userProfilePhoto($square, $factor) {
    height: $square * $factor;
    width: $square * $factor;
    background-color: $color3;
}
body {
    background-color: $wallBackground;
}
aside{
    /*background-color: red;*/
}
.wall {
    background-color: $wallBackground;
}
img.userProfilePhoto {

    @include userProfilePhoto(100px,1.5);

    &.userProfilePhotoSmall {

        @include userProfilePhoto(100px,0.4);
    }
}
.card-img-top {
    height: 200px;
    background-color: $color5;
}
ul.breadcrumb {
    background-color: $color1!important;

    li > a
    {
<<<<<<< HEAD
        color:white;
=======
        color:white!important;
>>>>>>> frontend
    }
}

.card{
    /*border: none;*/
    border-radius: 0px;
}